<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>
<body class="about">
    <div class="container">
        <nav class="fredoka">
            <a href="page.html">Home</a>
            <a href="contact.html">Contact</a>
        </nav>
        <div class="about">
            <h1 class="fredoka"><b>About</b></h1>
            <p> This is the about page </p>
        </div>
        <footer className="footer">
            <p>
                <span>&copy;</span> Design by Samya & Yasmin
            </p>
        </footer>
    </div>
</body>
</html>