<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scope & Closures</title>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <nav class="fredoka">
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <div class="books">
            <h1>Book Component By Function</h1>
        <div class="container">
            <div class="top-section">
                <h2>O'REILLY</h2>
                <p>"Kyle's way of critically thinking about every tiny bit of the language..."</p>
                <h2>KYLE SIMPSON</h2>
            </div>
            <div class="middle-section">
                <h2>Scope & Closures</h2>
            </div>
            <div class="bottom-section">
                <h3>
                    JS
                    <div class="vertical-text">YOU DON'T KNOW</div>
                </h3>
            </div>
        </div>
            <h4>By Kyle Simpson</h4>
            <p>part of the language that many JavaScript programmers simply avoid</p>
        <footer className="footer">
            <p>
            <span>&copy;</span> 2021 Tania
            </p>
        </footer>
    </div>
</body>
</html>
